html, body, #ct{
	height: 95%;
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

body > #ct {
	height: auto;
	min-height: 100%;
	text-align: center;
	padding: 0;
}

#inCt {
}

img {
	height: 175px;
	width: 350px;
}

#sBox {
	width: 600px;
	height: 30px;
}

input[type=button] {

}

footer {
	text-align: left;
    height: 2em;

	background-color: #eee;
}

ul {
	list-style-type: none;
    padding: 5px 5px 5px 35px;
}

li {
	display: inline;
	padding-right: 35px;
}

a {
	text-decoration: none;
	font-size: 12px;
	color: #555;
}

a:hover {
	text-decoration: underline;
}