#gridBox {
	border: 5px solid #ccc;
	height: 600px;
	width: 600px;

	display: table;
	table-layout: fixed;
}

.gridRow {
	text-align: justify;
	display: table-row;
	width: auto;
	/*border: 1px solid #000;*/
}

.gridDiv {
	text-align: center;
	/*border: 1px solid #eee;*/

	display: table-cell;
}

.filled {
	background-color: #000;
}
