#gridBox {
	border: 5px solid #ccc;
	display: block;
	padding: 5px 5px 0px 5px;
	height: 230px;
	width: 240px;
}

.gridRow {
	text-align: justify;
	display: block;
	margin-bottom: -5px;
	padding: 0;
	/*border: 1px solid #000;*/
}

.gridDiv {
	display: inline-block;
	text-align: center;
	/*border: 1px solid #eee;*/
	padding: 5px;
	margin: 0;
	width: 5px;
	height: 5px;
}

.filled {
	background-color: #000;
}
